<!DOCTYPE html>
<html>
    <head>
        <title>Multipication Table</title>
    </head>
    <body>
        <form action="/" method="POST">
            <h1>Number:</h1>
            <input type="number" name="number" id="number" min=1>
            <input type="submit" id='submit'><br><br>
            {% if number|int > 0 %}
                {% for i in range(12) %}
                {{ number|string + " x " + (i+1)|string + " = " + (number|int * (i+1))|string }}
                <br>
                {% endfor %}
            {% endif %}
            <script>
                document.querySelector('#number').onkeyup = function() {
                    if (document.querySelector('#number').value <= 0) {
                        document.querySelector('#submit').disabled = true
                    } else {
                        document.querySelector('#submit').disabled = false
                    }
                }
            </script>
        </form>
    </body>
</html>